<main>
  <mat-card>
    <mat-card-header class="font-semibold text-3xl flex justify-center pt-8">
      <!-- <mat-card-title>Hire in 3 Simple Steps</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <div class="py-16 bg-white">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <p class="text-3xl font-extrabold text-gray-900 text-center pb-6">
            Hire In 3 Simple Steps
          </p>
          <div class="mt-10 grid grid-cols-1 md:grid-cols-3 gap-8 m-auto px-24">
            <div class="text-center border-r-2 border-r-indigo-700">
              <div class="pb-8">
                <div class="text-4xl font-bold text-indigo-600">1</div>
                <h3 class="mt-2 text-xl font-semibold text-gray-900">Search</h3>
                <span class="material-icons">search</span>
              </div>
              <p class="mt-4 text-gray-600 px-2 text-left">
                With over 140 boats in the fleet, there will be a perfect boat
                for your event date, budget and guest numbers. Our tip is to use
                the advanced search above to quickly boats to suit your
                selection. A faster way is to call or email us an we can create
                a no obligation quote for you of suitable boat choices
              </p>
            </div>
            <div class="text-center border-r-2 border-r-indigo-700">
              <div class="pb-8">
                <div class="text-4xl font-bold text-indigo-600">2</div>
                <h3 class="mt-2 text-xl font-semibold text-gray-900">Book</h3>
                <span class="material-icons">directions_boat</span>
              </div>
              <p class="mt-4 text-gray-600 px-2 text-left">
                Booking is easy. To secure your boat for the time you request, a
                minimum of <strong>50% deposit</strong> is paid and a charter
                contract signed. With the option of digital signing and a secure
                online payment facility, you will be looking forward to enjoying
                your boat cruise event in no time.
              </p>
            </div>
            <div class="text-center">
              <div class="pb-8">
                <div class="text-4xl font-bold text-indigo-600">3</div>
                <h3 class="mt-2 text-xl font-semibold text-gray-900">Enjoy</h3>
                <span class="material-icons">local_bar</span>
              </div>

              <p class="mt-4 text-gray-600 px-2 text-left">
                Get ready for the accolades. Everyone loves a boat party so
                bring your camera to capture the smiles!
              </p>
            </div>
          </div>
          <div class="mt-10 text-center">
            <button
              class="bg-yellow-500 hover:bg-yellow-600 font-semibold py-2 px-12"
            >
              Enquire Now
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
